scenario-name=Frontier Tower Defense
scenario-name-space-age=Frontier Tower Defense
description=Frontier Tower Defense
description-space-age=Frontier Tower Defense

# \n[font=default-bold]This is the intended way of playing Factorio: Space Age.[/font]

